body {
    background-image: linear-gradient(90deg, black, grey);
    font-family: "Overpass", sans-serif;
}
hr{
    color: rgb(200, 200, 200);
}

.footer {
    color: rgb(200, 200, 200);
    text-decoration: none;
    font-size: x-large;
}

.footer:hover{
    color: rgb(150, 150, 150);
}

footer{
    position: fixed;
    bottom:0 ;
    padding: 5px;
    height: auto;
}
    
.pic {
    height: 450px; 
    width: 450px;
    border: none;
    border-radius: 25px;
}

p, h2, header, h3 {
    color: rgb(200, 200, 200);
}  

header i {
    font-size: 35px;
}

header i:hover{
    color: rgb(150, 150, 150);
}

nav{
    display: flex;
    align-items: center;
}

.header-right{
    display:flex;
    align-items: center;
    margin-left: auto; 
    margin-right: 10px;
}

.header-left{
    display: flex;
    align-items: center;
    margin-right: auto; 
    margin-left: 10px;
}

ul{
    list-style: none;
}

ul li{
    display: block;
    position: relative;
    right: 10px;
}

ul li a{
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
}

ul li ul.dropdown li{
    display: block;
    margin-top: 10px;
}

ul li ul.dropdown{
    width: 100%;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li:hover ul.dropdown{
    display: block;
}

li a{
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    color: rgb(200, 200, 200);
    font-weight: 550;
}

li a:hover{
    color: rgb(150, 150, 150);
}

ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 35px;
}

section{
    display: flex;
    align-items: center;
}

.home-text{
    align-items: center;
    margin-right: auto;
    max-width: 50%;
    padding: 0px;
}

.home-text h2{
    margin-bottom: 0;
    margin-top: 50px;
    margin-left: 150px;
    line-height: 0.8;
    font-size: 30px;
}

.home-text p{
    margin-left: 130px;
    line-height: 0.8;
    font-size: 18px;
}

.home-pic{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: 100px;
    margin-right: 150px;
}

/*Portfolio page*/

h1{
    color: rgb(200, 200, 200);
    display: flex;
    text-align: center;
    margin-right: auto;
}
.portfolio-page{
    align-items: flex-start;
    display: flex;
    position: relative;
    justify-content: center;
}

.image-text{
    position: relative;
    width: 250px;
    height: 550px;
    margin-right: 30px;
}

.hover-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    max-width: 90%;
    max-height: 80%;
    word-wrap: break-word;
    overflow: hidden;
    white-space: normal;
}

.image-text:hover .pic-2{
    opacity: 0.3;
}

.image-text:hover .hover-text{
    opacity: 1;
}

.portfolio-h1{
    display: flex;
    text-align: center;
    margin-right: auto;
    margin-left: 190px;
    max-width: 10%;
    margin-top: 250px;
}

.pic-2{
    height: 500px;
    width: 250px;
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-right: 30px;
}

.pic-2:last-child{
    margin-right: 20px;
}

.pic-2:hover{
    opacity: 0.3;
    filter: brightness(150%)
}

.arrow{
    display: flex;
    position: absolute;
    right: 85px;
    bottom: 35px;
}

.arrow a{
    text-decoration: none;
    margin-left: 20px;
}

.arrow i{
    display: flex;
    margin-left: auto;
    font-size: 45px;
    color: rgb(200, 200, 200);
}

.arrow i:hover{
    color: rgb(150, 150, 150);
}

/* About page*/

.about-left{
    display: inline-block;
    margin-right: auto;
    margin-left: 160px;
    margin-top: 210px;
    font-size: 24px;
}

.personal-resume{
    display: inline-block;
    margin-right: auto;
    font-size: 15px;
}

.cv{
    color: rgb(200, 200, 200)
}

.cv{
    color: rgb(200, 200, 200);
    font-size: 50px;
}

a i:hover{
    color: rgb(150, 150, 150);
}

.about-right{
    display: inline-block;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 220px;
    word-wrap: break-word;
    overflow: hidden;
    white-space: normal;
    max-width: 65%;
}

/* Contact me page */

.form-container{
    border-radius: 5px;
    padding: 50px;
    border: 2px solid black;
    margin-left: auto; 
    margin-top: 140px;
    margin-right: 200px;
}

label{
    color: rgb(200, 200, 200);
}

.row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#fullname, #Email, #subject{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
    font-size: 18px;
    color: white;
    margin: 10px;
}

.send-button{
    background-color: transparent;
    border: none;
    font-size: 15px;
    font-weight: 600;
    color: rgb(200, 200, 200);
    cursor: pointer;
    text-align: left;
    padding: 0;
}

.send-button:hover{
    color: rgb(150, 150, 150);
}

#subject{
    resize: none;
    background-color: transparent;
    border: none;
    width: 100%;
    color: white;
    border-bottom: 2px solid black;
    height: 40px;
    line-height: 55px;
}

#subject-label{
   display: block;
}

#contact-text{
    display: inline-block;
    margin-top: 90px;
    margin-right: auto;
    font-size: 24px;
    align-items: center;
}

#contact-text p{
    font-size: 18px;
    margin-top: 0;
    margin-left: 160px;
}

#contact-text h2{
    margin-bottom: 0;
    margin-left: 160px;
}

#subject-label, #email-label, #fullname-label, .send-button{
    margin: 10px;
}
.row p{
    padding: 0;
    font-size: 15px;
    text-align: right;
}

.header-right-mobile{
    display: none;
}

/* mobile */

@media (max-width: 1000px) {
     .home-text{
        display: inline-block;
        text-align: center;
        max-width: 80%;
        margin-top: 20px;
    }

    .home-text h2, .home-text p {
        margin-left: 0; 
        padding: 0 20px;
    }

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
}

.home-text, .home-pic {
    max-width: 90%;           
    margin: 0 auto;            
}

.pic {
    width: 100%;                
    height: auto;              
}

.header-right{
    display: none;
}

.header-left{
    padding: 0;
}

ul li ul.dropdown li {
    margin-top: 0; 
    padding: 0;
}

ul li ul.dropdown {
    margin: 0; 
    padding: 0; 
}

.header-right-mobile{
    display: block;
}

.header-left ul{
    gap: 1px;
}

.arrow{
    display: none;
}

.portfolio-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
}

 .portfolio-page h1{
    display: inline-block;
    max-width: 50%;
    text-align: center;
    margin: 20px auto;
}

.pic-2, .hover-text{
    margin: 20px;
}

section .about-left{
    margin: 0;
}

section .about-right{
    margin: 0;
}

#contact-text{
    padding:0;
    text-align: center;
    display: block;
    margin: 0;
    margin-top: 10px;
}

#contact-text p, #contact-text h2{
    margin: 0;
}

.form-container{
    margin: 0;
    padding: 10%;
}

.row{
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
}

.row div{
    width: 100%;
    margin-right: 0;
}

.row p{
    margin-right: 32%;
}

.send-button{
    width: 100%;
}


}
